.box{
    background: #fff;
    box-shadow: 0 0 5px #bababa;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out 0.2s;
}
.box:hover img{
    transform: scale(0);
    transition-delay: 0s;
}
.box .box-content{
    width: 100%;
    height: 100%;
    background: #425770;
    color: #fff;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0) rotate(-180deg);
    transition: all 0.4s ease-in 0s;
}
.box:hover .box-content{
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.2s;
}
.box .title{
    font-size: 20px;
    font-weight: 800;
    border-bottom: 1px solid #334a65;
    padding-bottom: 10px;
    margin-top: 0;
}
.box .description{
    font-size: 13px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 30px;
}
.box .read{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: #132d4d;
    padding: 7px 20px;
}
